################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ksrPanel/v15/Server/sqlite3
/.vs/TPC_Percivaldi/v15/Server/sqlite3
